*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1211px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* jost-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/jost-v14-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v14-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.btn {
  border-radius: 8px;
  color: #333136;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.8rem 2.4rem;
  transition: 1s;
  background-color: #ffffff;
}

.btn:hover {
  background-color: #ffad9b;
}

.btn2 {
  color: #ffffff;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  background: #e7816b;
  padding: 1.8rem 2.4rem;
  transition: 1s;
}

.btn2:hover {
  background-color: #ffad9b;
}

.btn3 {
  border-radius: 8px;
  color: #333136;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.8rem 2.4rem;
  transition: 1s;
  background-color: #ffffff;
}

.btn3:hover {
  background-color: #ffad9b;
}

.btn4 {
  border-radius: 8px;
  color: #333136;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.8rem 2.4rem;
  transition: 1s;
  background-color: #ffffff;
  align-self: flex-start;
}

.btn4:hover {
  background-color: #ffad9b;
}

.footer {
  background-color: #1d1c1e;
}

.footer___wrapper {
  background-color: #e7816b;
  height: 29.2rem;
  border-radius: 20px;
  margin-top: -20rem;
}

.footer___wrapper {
  background-image: url("../images/oval-mask.png");
}

.footer___wrapper2 {
  padding-top: 7.2rem;
  margin-left: 8rem;
}

.footer__title {
  width: 268px;
  height: 98px;
  flex-shrink: 0;
  color: #ffffff;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.footer__text {
  width: 45rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.footer__buttom {
  position: relative;
}

.btn {
  position: absolute;
  right: 10rem;
  top: -10rem;
}

.footer__menu {
  padding-top: 3.8rem;
}

.footer__logo-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-right: auto;
}

.footer__logo-link {
  color: #ffffff;
  font-family: Jost;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
}

.footer__nav {
  display: flex;
}

.footer__list {
  display: flex;
  gap: 4.2rem;
}

.footer__info {
  margin-bottom: 7.2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer__into-text {
  opacity: 0.5;
  width: 35rem;
  color: #fff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.footer__info-text2 {
  opacity: 0.5;
  width: 35rem;
  color: #fff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.footer__wrapper-global {
  display: flex;
  align-items: center;
}

.footer__web-site {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-top: auto;
}

.footer__website-img:hover {
  color: #fff;
}

.footer__link-pages {
  color: #ffffff;
  font-family: Jost;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
}

.footer__link-pages:hover {
  color: #ffad9b;
  text-decoration: underline;
}

hr {
  margin-top: 4.2rem;
  margin-bottom: 3.1rem;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .footer__container {
    width: 100%;
    max-width: 768px;
    margin: 0;
  }
  .footer___wrapper {
    padding: 5.8rem 17.8rem;
    height: 350px;
  }
  .footer___wrapper2 {
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .btn {
    position: absolute;
    position: absolute;
    right: 8rem;
    top: 2rem;
  }
}
@media screen and (max-width: 375px) {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }
  .footer {
    margin: 0;
    padding: 0;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .footer___wrapper {
    width: 327px;
    height: 379px;
    flex-shrink: 0;
    padding: 0;
    margin-top: -20rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  .footer___wrapper2 {
    text-align: center;
    padding-top: 6.4rem;
  }
  .footer__title {
    width: 279px;
    height: 82px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    text-align: center;
    margin: 0;
  }
  .footer__text {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    width: 27.9rem;
    padding-right: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 3.2rem;
    text-align: center;
  }
  .btn {
    margin: 0;
  }
  hr {
    margin-top: -19.8rem;
  }
  .footer__menu {
    padding: 0;
  }
  .footer__info {
    margin-top: 190px;
  }
  .footer__menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .footer__wrapper-global {
    display: flex;
    flex-direction: column;
  }
  .footer__logo-card {
    display: flex;
    padding-top: 6.4rem;
    margin: 0;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__web-site {
    display: flex;
    align-items: center;
    margin: auto;
  }
  .footer__logo-card {
    display: flex;
  }
}
main {
  flex-grow: 1;
}

.hero__container {
  background-color: #e7816b;
  width: 1111px;
  border-radius: 1.5rem;
  padding-top: 14.5rem;
  padding-bottom: 14.5rem;
  padding-left: 10.5rem;
}

.hero__title {
  width: 54rem;
  height: 16.5rem;
  flex-shrink: 0;
  color: #ffffff;
  font-family: Jost;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.hero__text {
  width: 44.5rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-bottom: 4rem;
  margin-top: 1.1rem;
}

.hero__oval-img {
  position: absolute;
  right: -4rem;
  top: -49rem;
  border: radius 50%;
  opacity: 0.8;
}

.hero__img-card {
  position: relative;
}

.hero__div-card2 {
  position: relative;
}

.hero__phone {
  position: absolute;
  right: 4rem;
  top: -42.8rem;
}

@media screen and (max-width: 768px) {
  .hero__container {
    padding-top: 6rem;
    padding-bottom: 12rem;
    width: 100%;
    max-width: 695px;
    height: 1077px;
    flex-direction: column;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__phone {
    position: absolute;
    right: 10rem;
    top: -0.8rem;
  }
  .hero__oval-img {
    top: -45rem;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
    margin-top: -8px;
    margin-left: 6rem;
  }
  .btn3 {
    margin-top: -2rem;
    margin-left: 20rem;
    margin-bottom: 7.5rem;
  }
}
@media screen and (max-width: 375px) {
  .hero__container {
    width: 100%;
    max-width: 450px;
    height: 1051px;
    padding-top: 8rem;
    padding-bottom: 12rem;
  }
  .hero__title {
    width: 327px;
    height: 118px;
    flex-shrink: 0;
    text-align: center;
    font-family: Jost;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    margin-right: 10rem;
    text-align: center;
    margin-left: -8.8rem;
    padding-bottom: 1.4rem;
  }
  .hero__text {
    width: 327px;
    text-align: center;
    font-family: Jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    text-align: center;
    margin-left: -9rem;
  }
  .hero__phone {
    position: absolute;
    position: absolute;
    right: -2rem;
    top: -0.8rem;
  }
  .btn3 {
    margin-left: 0;
  }
}
.features__container {
  display: flex;
  gap: 3rem;
  padding-top: 16rem;
}

.features__card {
  display: flex;
}

.features__img {
  margin-bottom: 2.4rem;
}

.features__img {
  border-radius: 1.5rem;
}

@media screen and (max-width: 375px) {
  .features__container {
    width: 100%;
    max-width: 375px;
    padding-right: 2.4rem;
    padding-left: 1.4rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
  }
  .features__card {
    display: flex;
    flex-direction: column;
  }
  .features__img {
    width: 100%;
    max-width: 327px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
  .features__imgweb {
    width: 100%;
    max-width: 327px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .features__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 804px;
    padding-bottom: 16rem;
  }
  .features__card {
    flex-direction: column;
  }
  .features__imgweb {
    width: 68.9rem;
    height: 20rem;
    border-radius: 1.5rem;
  }
  .features__img {
    width: 68.9rem;
    height: 20rem;
    border-radius: 1.5rem;
  }
}
.card {
  background: #f1f3f5;
}

.card__container {
  padding-top: 16rem;
  padding-bottom: 32.3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.card__title {
  width: 35rem;
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  margin-top: 4.8rem;
}

.card__text {
  width: 35rem;
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 3.2rem;
}

.card__img {
  margin-left: 8rem;
  border-radius: 50%;
}

@media screen and (max-width: 375px) {
  .card__container {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
  }
  .card__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card__title {
    text-align: center;
    width: 100%;
    max-width: 35rem;
  }
  .card__text {
    text-align: center;
    width: 100%;
    max-width: 35rem;
  }
}
@media screen and (max-width: 768px) {
  .card__container {
    width: 100%;
    flex-direction: column;
    max-width: 768px;
  }
  .card__wrapper {
    display: flex;
    gap: 3.8rem;
    margin: 0;
  }
  .card__title {
    width: 43.9rem;
  }
  .card__text {
    width: 43.9rem;
  }
  .card__img {
    margin-left: 0;
    margin-top: 4rem;
  }
}
.header__container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  display: flex;
  align-items: center;
}

.header__card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: auto;
}

.header__burger {
  display: none;
}

.header__link-logo {
  color: #333136;
  font-family: Jost;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
}

.header__link-logo:hover {
  opacity: 0.8;
}

.nav__list {
  display: flex;
  gap: 4.2rem;
  align-items: center;
}

.nav__link {
  color: #333136;
  font-family: Jost;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  transition: 0.4s;
}

.nav__link:hover {
  color: #ffad9b;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .header__container {
    width: 100%;
    max-width: 375px;
    padding-bottom: 3.4rem;
  }
  .header__burger {
    display: block;
  }
  .nav__item {
    display: none;
  }
  .header__link-logo {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 672px) {
  .nav__list {
    display: flex;
    gap: 1.5rem;
    margin: auto;
  }
}
@media screen and (max-width: 606px) {
  .header__container {
    flex-direction: column;
  }
  .header__card {
    padding-bottom: 2rem;
  }
  .nav__list {
    display: flex;
    gap: 1rem;
    margin: auto;
  }
}
@media screen and (max-width: 427px) {
  .header__card {
    padding-bottom: 2rem;
  }
  .nav__list {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
.hero2__container {
  width: 1111px;
  background-color: #e7816b;
  border-radius: 15px;
}

.hero2__wrapper {
  display: flex;
}

.hero2__title {
  width: 54rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 3.2rem;
}

.hero2__text {
  width: 45.8rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.hero2__img-card {
  border-radius: 1.5rem;
  margin-left: 4.5rem;
}

.hero2__card {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}

.hero2__oval-img {
  border-radius: 1.5rem;
}

.hero2__card3 {
  position: relative;
}

.hero__oval3 {
  position: absolute;
  left: -111rem;
}

@media screen and (max-width: 375px) {
  .hero2__container {
    width: 100%;
    max-width: 375px;
    height: 850px;
    background-image: url("../images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 187px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
  }
  .hero2__img-card {
    display: none;
  }
  .hero__oval3 {
    display: none;
  }
  .hero2__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: -12rem;
    display: inline-block;
  }
  .hero2__title {
    width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.666;
  }
  .hero2__text {
    width: 100%;
    max-width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.5;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero2__container {
    background-image: url("../images/Group33333333.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 344px;
    width: 100%;
    max-width: 680px;
    padding: 0;
    height: 800px;
  }
  .hero2__img-card {
    display: none;
  }
  .hero__oval3 {
    display: none;
  }
  .hero2__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 55rem;
    padding: 0;
  }
  .hero2__title {
    width: 57.3rem;
    padding-bottom: 3.2rem;
    margin: 0;
  }
  .hero2__text {
    width: 57.3rem;
    text-align: center;
    padding-left: 1.4rem;
    margin-left: 4rem;
  }
}
.info__container {
  margin-top: 16rem;
  margin-bottom: 16rem;
  border-radius: 15px;
  background: #fdf3f0;
  width: 1111px;
  display: flex;
  gap: 9.4rem;
  height: 64rem;
}

.info__foto {
  margin-left: -5rem;
}

.info__title {
  padding-top: 15.4rem;
  padding-bottom: 15.4rem;
}

.info__text {
  width: 44.5rem;
  color: #e7816b;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 2.4rem;
}

.info__poragraf {
  width: 44.5rem;
  color: #333136;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 375px) {
  .info__container {
    width: 100%;
    max-width: 375px;
  }
  .info__text {
    color: #e7816b;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 100%;
    max-width: 327px;
  }
  .info__poragraf {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    width: 100%;
    max-width: 327px;
  }
  .info__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .info__container {
    width: 100%;
    max-width: 695px;
    background-image: url("../images/Groupgirl.jpg");
    background-repeat: no-repeat;
    background-position: top 345px;
    display: flex;
    flex-direction: column;
    padding-bottom: 12rem;
    height: 800px;
  }
  .info__foto {
    display: none;
  }
  .info__title {
    padding-top: 39rem;
    text-align: center;
    margin: 0;
  }
  .info__text {
    width: 57.6rem;
    text-align: center;
  }
  .info__poragraf {
    width: 57.6rem;
    text-align: center;
    margin: 0;
  }
}
.see-location__container {
  margin-bottom: 17.6rem;
}

.see-location__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  margin-left: 10rem;
}

.see-location__wrapper {
  text-align: center;
}

.see-location__info {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 4.8rem;
}

.btn2 {
  margin-top: 3.2rem;
}

@media screen and (max-width: 768px) {
  .see-location__container {
    width: 100%;
    max-width: 768px;
    margin: 0;
    padding-bottom: 12rem;
  }
  .see-location__card {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .see-location__wrapper {
    margin: 0;
  }
}
.info2__container {
  border-radius: 15px;
  background: #fdf3f0;
  width: 1111px;
  display: flex;
  margin-bottom: 32rem;
}

.info2__title {
  padding-top: 15.4rem;
  padding-bottom: 13rem;
}

.info2__text {
  width: 44.5rem;
  color: #e7816b;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 2.4rem;
}

.info2__poragraf {
  color: #333136;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.info2__foto {
  margin-left: 14rem;
}

@media screen and (max-width: 375px) {
  .info2__container {
    width: 100%;
    max-width: 375px;
    padding: 0;
  }
  .info2__text {
    color: #e7816b;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 100%;
    max-width: 327px;
  }
  .info2__poragraf {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    width: 100%;
    max-width: 327px;
  }
  .info2__title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .info2__container {
    width: 100%;
    max-width: 665px;
    background-image: url("../images/Group5555.jpg");
    background-repeat: no-repeat;
    background-position: top 345px;
  }
  .info2__foto {
    display: none;
  }
  .info2__text {
    width: 57.2rem;
  }
  .info2__poragraf {
    width: 57.2rem;
  }
  .info2__title {
    margin-top: 20rem;
    text-align: center;
  }
}
.hero3__container {
  border-radius: 15px;
  background: #e7816b;
  width: 1111px;
  height: 580px;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 16rem;
}

.hero3__card2 {
  position: relative;
}

.hero3__oval3 {
  left: 60rem;
  position: absolute;
  top: 17rem;
}

.hero3__forms {
  display: flex;
  flex-direction: column;
  margin-top: 9.2rem;
}

.form__title {
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
}

input {
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 380px;
  height: 50px;
  margin-bottom: 2.5rem;
  background: transparent;
}

.hero3__card {
  margin-top: 20rem;
  margin-right: 10rem;
}

.hero3__title {
  width: 54rem;
  color: #fff;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.hero3__text {
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  width: 44.5rem;
}

.hero3__oval3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero3__container {
    width: 100%;
    max-width: 666px;
    height: 900px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .hero3__title {
    width: 573px;
    height: 165px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 10rem;
  }
  .hero3__text {
    color: #fff;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: center;
    margin-left: 6.1rem;
  }
  .hero3__wrapper {
    text-align: center;
    margin: 0;
  }
  .hero3__forms {
    margin-top: 5.2rem;
    margin-left: 12rem;
  }
  .hero3__card {
    margin-top: 5rem;
    margin-left: 5rem;
  }
}
@media screen and (max-width: 375px) {
  .hero3__container {
    width: 100%;
    max-width: 375px;
  }
  .hero3__title {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 327px;
    margin-left: 5rem;
  }
  .hero3__text {
    width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    margin-top: -3rem;
  }
  .hero3__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: -4rem;
  }
  .hero3__forms {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  input {
    width: 32rem;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.hero2__container {
  width: 1111px;
  background-color: #e7816b;
  border-radius: 15px;
}

.hero2__wrapper {
  display: flex;
}

.hero2__title {
  width: 54rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 3.2rem;
}

.hero2__text {
  width: 45.8rem;
  color: #ffffff;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.hero2__img-card {
  border-radius: 1.5rem;
  margin-left: 4.5rem;
}

.hero2__card {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}

.hero2__oval-img {
  border-radius: 1.5rem;
}

.hero2__card3 {
  position: relative;
}

.hero__oval3 {
  position: absolute;
  left: -111rem;
}

@media screen and (max-width: 375px) {
  .hero2__container {
    width: 100%;
    max-width: 375px;
    height: 850px;
    background-image: url("../images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 187px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
  }
  .hero2__img-card {
    display: none;
  }
  .hero__oval3 {
    display: none;
  }
  .hero2__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: -12rem;
    display: inline-block;
  }
  .hero2__title {
    width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.666;
  }
  .hero2__text {
    width: 100%;
    max-width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.5;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero2__container {
    background-image: url("../images/Group33333333.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 344px;
    width: 100%;
    max-width: 680px;
    padding: 0;
    height: 800px;
  }
  .hero2__img-card {
    display: none;
  }
  .hero__oval3 {
    display: none;
  }
  .hero2__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 55rem;
    padding: 0;
  }
  .hero2__title {
    width: 57.3rem;
    padding-bottom: 3.2rem;
    margin: 0;
  }
  .hero2__text {
    width: 57.3rem;
    text-align: center;
    padding-left: 1.4rem;
    margin-left: 4rem;
  }
}
.info__container {
  margin-top: 16rem;
  margin-bottom: 16rem;
  border-radius: 15px;
  background: #fdf3f0;
  width: 1111px;
  display: flex;
  gap: 9.4rem;
  height: 64rem;
}

.info__foto {
  margin-left: -5rem;
}

.info__title {
  padding-top: 15.4rem;
  padding-bottom: 15.4rem;
}

.info__text {
  width: 44.5rem;
  color: #e7816b;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 2.4rem;
}

.info__poragraf {
  width: 44.5rem;
  color: #333136;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 375px) {
  .info__container {
    width: 100%;
    max-width: 375px;
  }
  .info__text {
    color: #e7816b;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 100%;
    max-width: 327px;
  }
  .info__poragraf {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    width: 100%;
    max-width: 327px;
  }
  .info__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .info__container {
    width: 100%;
    max-width: 695px;
    background-image: url("../images/Groupgirl.jpg");
    background-repeat: no-repeat;
    background-position: top 345px;
    display: flex;
    flex-direction: column;
    padding-bottom: 12rem;
    height: 800px;
  }
  .info__foto {
    display: none;
  }
  .info__title {
    padding-top: 39rem;
    text-align: center;
    margin: 0;
  }
  .info__text {
    width: 57.6rem;
    text-align: center;
  }
  .info__poragraf {
    width: 57.6rem;
    text-align: center;
    margin: 0;
  }
}
.see-location__container {
  margin-bottom: 17.6rem;
}

.see-location__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  margin-left: 10rem;
}

.see-location__wrapper {
  text-align: center;
}

.see-location__info {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 4.8rem;
}

.btn2 {
  margin-top: 3.2rem;
}

@media screen and (max-width: 768px) {
  .see-location__container {
    width: 100%;
    max-width: 768px;
    margin: 0;
    padding-bottom: 12rem;
  }
  .see-location__card {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .see-location__wrapper {
    margin: 0;
  }
}
.info2__container {
  border-radius: 15px;
  background: #fdf3f0;
  width: 1111px;
  display: flex;
  margin-bottom: 32rem;
}

.info2__title {
  padding-top: 15.4rem;
  padding-bottom: 13rem;
}

.info2__text {
  width: 44.5rem;
  color: #e7816b;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 2.4rem;
}

.info2__poragraf {
  color: #333136;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.info2__foto {
  margin-left: 14rem;
}

@media screen and (max-width: 375px) {
  .info2__container {
    width: 100%;
    max-width: 375px;
    padding: 0;
  }
  .info2__text {
    color: #e7816b;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 100%;
    max-width: 327px;
  }
  .info2__poragraf {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    width: 100%;
    max-width: 327px;
  }
  .info2__title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .info2__container {
    width: 100%;
    max-width: 665px;
    background-image: url("../images/Group5555.jpg");
    background-repeat: no-repeat;
    background-position: top 345px;
  }
  .info2__foto {
    display: none;
  }
  .info2__text {
    width: 57.2rem;
  }
  .info2__poragraf {
    width: 57.2rem;
  }
  .info2__title {
    margin-top: 20rem;
    text-align: center;
  }
}
.features2__img {
  border-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .features2__img {
    width: 65rem;
    height: 20rem;
  }
  .features1__img1 {
    width: 65rem;
    height: 20rem;
  }
}
.hero3__container {
  border-radius: 15px;
  background: #e7816b;
  width: 1111px;
  height: 580px;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 16rem;
}

.hero3__card2 {
  position: relative;
}

.hero3__oval3 {
  left: 60rem;
  position: absolute;
  top: 17rem;
}

.hero3__forms {
  display: flex;
  flex-direction: column;
  margin-top: 9.2rem;
}

.form__title {
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
}

input {
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 380px;
  height: 50px;
  margin-bottom: 2.5rem;
  background: transparent;
}

.hero3__card {
  margin-top: 20rem;
  margin-right: 10rem;
}

.hero3__title {
  width: 54rem;
  color: #fff;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.hero3__text {
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  width: 44.5rem;
}

.hero3__oval3 {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero3__container {
    width: 100%;
    max-width: 666px;
    height: 900px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .hero3__title {
    width: 573px;
    height: 165px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 10rem;
  }
  .hero3__text {
    color: #fff;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: center;
    margin-left: 6.1rem;
  }
  .hero3__wrapper {
    text-align: center;
    margin: 0;
  }
  .hero3__forms {
    margin-top: 5.2rem;
    margin-left: 12rem;
  }
  .hero3__card {
    margin-top: 5rem;
    margin-left: 5rem;
  }
}
@media screen and (max-width: 375px) {
  .hero3__container {
    width: 100%;
    max-width: 375px;
  }
  .hero3__title {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    width: 327px;
    margin-left: 5rem;
  }
  .hero3__text {
    width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    margin-top: -3rem;
  }
  .hero3__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: -4rem;
  }
  .hero3__forms {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  input {
    width: 32rem;
  }
}
.locations__container {
  margin-bottom: 32rem;
  flex-direction: column;
  display: flex;
  gap: 3rem;
}

.locations__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locations__wrapper {
  width: 730px;
  height: 326px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fdf3f0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 9.8rem;
}

.locations__bg {
  flex-direction: column;
}

.locations__h2 {
  width: 44.5rem;
  color: #e7816b;
  font-family: Jost;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.locations__p {
  color: #333136;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

span {
  color: #333136;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.locations__bginfo {
  width: 255px;
  margin-left: -213px;
  margin-top: 40px;
}

.bg__info3 {
  width: 255px;
  margin-left: -213px;
  margin-top: 40px;
}

iframe {
  border-radius: 15px;
}

@media screen and (max-width: 375px) {
  .locations__container {
    width: 100%;
    max-width: 375px;
  }
  .locations__card {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .locations__wrapper {
    text-align: center;
    padding: 8rem 3rem 8rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  iframe {
    width: 100%;
    max-width: 375px;
    height: 320px;
  }
  .locations__h2 {
    width: 100%;
    max-width: 327px;
    color: #e7816b;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }
  .locations__p {
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66;
    text-align: center;
  }
  .locations__bg {
    text-align: center;
    margin-top: -3rem;
  }
  .locations__bginfo {
    position: relative;
  }
  .locations__p1 {
    position: absolute;
    top: -36px;
    left: 169px;
  }
  .locations__p2 {
    width: 100%;
    margin-left: 11rem;
  }
}
@media screen and (max-width: 768px) {
  .locations__container {
    width: 100%;
    max-width: 650px;
  }
  .locations__card {
    display: flex;
    flex-direction: column-reverse;
  }
  iframe {
    width: 68.9rem;
    height: 32.6rem;
  }
  .locations__wrapper {
    width: 70rem;
  }
}
.hero1__container {
  background-color: #e7816b;
  width: 1111px;
  border-radius: 2rem;
  background-image: url("../images/oval-mask.png");
}

.hero1___wrapper2 {
  flex-direction: column;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  text-align: center;
  margin-left: 12rem;
}

.hero1__title {
  color: #ffffff;
  text-align: center;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  width: 73rem;
  text-align: center;
  padding-bottom: 2.4rem;
}

.hero1__text {
  color: #ffffff;
  text-align: center;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  width: 73rem;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .hero1__container {
    height: 375px;
    flex-shrink: 0;
    width: 100%;
    max-width: 390px;
    padding: 0;
    background-repeat: no-repeat;
    margin-top: -3.2rem;
  }
  .hero1__title {
    width: 32.7rem;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    text-align: center;
  }
  .hero1__text {
    width: 327px;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    text-align: center;
  }
  .hero1___wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 12rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .hero1__container {
    width: 100%;
    max-width: 683px;
    margin-bottom: 10rem;
  }
  .hero1__title {
    width: 68.9rem;
    text-align: center;
    margin-left: -4rem;
  }
  .hero1__text {
    width: 68.9rem;
    text-align: center;
    margin-left: -4rem;
  }
  .hero1___wrapper2 {
    margin: 0;
    text-align: center;
  }
}
.cards__container {
  padding-top: 16rem;
}

.cards__global {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.cards__list {
  border-radius: 15px;
  background: #fdf3f0;
}

.cards__list:hover {
  background-color: #ffad9b;
}

.cards__title {
  color: #e7816b;
  text-align: center;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  width: 28.6rem;
  padding-bottom: 1.6rem;
  padding-top: 3.2rem;
  margin-left: 2rem;
}

.cards__text {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-bottom: 3.2rem;
}

.cards__global1 {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 375px) {
  .cards__container {
    width: 100%;
    max-width: 375px;
  }
  .cards__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards__item {
    text-align: center;
    margin-left: 6rem;
  }
  .cards__title {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .cards__container {
    width: 100%;
    max-width: 768px;
    margin-top: -14rem;
  }
  .cards__global {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
  .cards__info {
    display: flex;
    text-align: center;
    padding: 0;
  }
  .cards__global1 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .cards__text {
    width: 27.7rem;
    text-align: center;
    padding-top: 0;
  }
  .cards__title {
    width: 27.7rem;
    text-align: center;
    padding-right: 32px;
  }
  .cards__list {
    padding: 0;
  }
  .cards__item {
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
  }
}
.features1__container {
  padding-top: 16rem;
  padding-bottom: 32rem;
}

.features1__card2 {
  display: flex;
  gap: 3rem;
}

.features1__img1 {
  border-radius: 1.5rem;
}

@media screen and (max-width: 375px) {
  .features1__container {
    width: 100%;
    max-width: 375px;
  }
  .features1__img {
    width: 32.7rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
  .features1__img1 {
    width: 32.7rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .features1__container {
    width: 100%;
    max-width: 768px;
  }
  .features1__card2 {
    align-items: center;
    flex-direction: column;
  }
  .features2__img {
    width: 32.7rem;
    height: 25rem;
  }
  .features1__img1 {
    width: 32.7rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */