$primary-peach-color: #e7816b;
$primary-black-color: #1d1c1e;
$primary-white-color: #ffffff;
$secondary-light-peach-color: #ffad9b;
$secondary-dark-grey-color: #333136;
$secondary-light-grey-color: #f1f3f5;
